.timeline-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .add-media-btn {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff; /* Adjust color as needed */
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
  
  .add-media-btn:hover {
    background-color: #0056b3; /* Adjust color as needed */
  }
  
  .convert-btn {
    padding: 10px 20px;
    background-color: #28a745; 
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .convert-btn:hover {
    background-color: #218838; 
  }
  
  .timeline {
    width: max-content;
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
    gap: 5px;

    >img{
        width: 100px;
        height: 50px;
    }
  }

  .wrapper{
    width: 100%;
    overflow-x: auto;
    padding: 0 5px;
  }

.time-series{
    width: max-content;
    gap: 5px;
    display: flex;
    justify-content: flex-start;
    div{
        width:100px !important;
        transform: translateX(-5px);
    }
}
  

  